<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body style="background-color: rgb(41, 59, 59); color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">Spring boot</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/listar}">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/form}">Crear Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/listarr}">Producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/formr}">Agregar Producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/listarPedidos}">Listar pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/formPedidos}">Agregar Pedido</a>
                    </li>

                  
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>
    <div class="container">
        <br>
        <h1 th:text="${titulo}" class="text-primary border border-secondary  "></h1>

        <div th:object ="${productos}" th:remove ="tag">
            <ul  th:if ="${#fields.hasErrors('*')}" class="alert alert-danger">
                <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>



        <form th:action="@{/formr}" th:object="${productos}" method="post">
            <table class="table-striped ">

            <!-- <tr>
                    <td>Nombre</td>
                       mapear campos 
                    <td><input type="text" th:field="*{nombre}" class="form-control" ></td>
                </tr>
                <tr>
                    <td>Apellido</td>
                    <td><input type="text" th:field="*{apellido}" class="form-control" ></td>

                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" th:field="*{email}" class="form-control" ></td>
                </tr>
                <tr>

                    <td><input type="submit" value="Crear Cliente" class="btn btn-primary"></td>
                </tr>


            


            
            </table>-->
            <div class="form-group">

                <label for="" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-ms-6">
                    <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-warning'">
                    <label class="form-text text-danger" th:if ="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></label>
                </div>


            </div>
            <div class="form-group">

                <label for="" class="col-sm-2 col-form-label">Cantidad</label>
                <div class="col-ms-6">
                    <input type="text" th:field="*{cantidad}" class="form-control" th:errorclass="'form-control alert-warning'">
                    <label class="form-text text-danger" th:if ="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></label>
                </div>


            </div>
            <div class="form-group">

                <label for="" class="col-sm-2 col-form-label">Precio Venta</label>
                <div class="col-ms-6">
                    <input type="text" th:field="*{precioVenta}" class="form-control" th:errorclass="'form-control alert-danger'">
                    <label class="form-text text-danger" th:if ="${#fields.hasErrors('precioVenta')}" th:errors="*{precioVenta}"></label>
                </div>


            </div>
            <div class="form-group">

                <label for="" class="col-sm-2 col-form-label">Precio Compra</label>
                <div class="col-ms-6">
                    <input type="text" th:field="*{precioCompra}" class="form-control" th:errorclass="'form-control alert-danger'">
                    <label class="form-text text-danger" th:if ="${#fields.hasErrors('precioCompra')}" th:errors="*{precioCompra}"></label>
                </div>


            </div>
            <div class="form-group">

                <label for="" class="col-sm-2 col-form-label">Fecha</label>
                <div class="col-ms-6">
                    <input type="date" th:field="*{fecha}" class="form-control">
                </div>


            </div>
            <div class="form-group" style="padding-top: 2em ">
                <div class="col-ms-6">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>


            </div>

            <input type="hidden" th:field="*{id}">

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>